HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.anaconda
/.android
/.bash_history
/.cache
/.codetogether
/.conda
/.condarc
/.config
/.continuum
/.ctsystem
/.dbshell
/.docker
/.dotnet
/.eclipse
/.emulator_console_auth_token
/.gitconfig
/.gitignore
/.gnupg
/.gradle
/.h2.server.properties
/.idlerc
/.ipynb_checkpoints
/.ipython
/.jdks
/.jupyter
/.keras
/.lemminx
/.lesshst
/.librarymanager
/.m2
/.matplotlib
/.mongorc.js
/.mvn
/.node_repl_history
/.nuget
/.openshot_qt
/.p2
/.php_history
/.redhat
/.rediscli_history
/.rest-client
/.spyder-py3
/.ssh
/.sts4
/.swp
/.templateengine
/.tooling
/.VirtualBox
/.webclipse
/3D Objects
/anaconda3
/AndroidStudioProjects
/AppData
/bluej
/Contacts
/Desktop
/Documents
/Downloads
/eclipse
/eclipse-workspace
/Favorites
/gradle-7.4
/IdeaProjects
/IntelGraphicsProfiles
/java_error_in_studio64_19832.log
/Jedi
/Links
/MicrosoftEdgeBackups
/Miniconda3-latest-Linux-x86_64.sh
/Music
/mvnw
/mvnw.cmd
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{1a72bdb8-43ae-11ed-aae0-8734ad4588ea}.TM.blf
/NTUSER.DAT{1a72bdb8-43ae-11ed-aae0-8734ad4588ea}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{1a72bdb8-43ae-11ed-aae0-8734ad4588ea}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/pom.xml
/Postman
/Saved Games
/Searches
/source
/spring-2.6.4
/ssh
/ssh.pub
/tensorflow_datasets
/test.mv.db
/test.trace.db
/testdb.mv.db
/testdb.trace.db
/Videos
/VirtualBox VMs
/VStudio-Cpp
/website
/_netrc
/_viminfo
/NTUSER.DAT{1a72bdb7-43ae-11ed-aae0-8734ad4588ea}.TxR.0.regtrans-ms
/NTUSER.DAT{1a72bdb7-43ae-11ed-aae0-8734ad4588ea}.TxR.1.regtrans-ms
/NTUSER.DAT{1a72bdb7-43ae-11ed-aae0-8734ad4588ea}.TxR.2.regtrans-ms
/NTUSER.DAT{1a72bdb7-43ae-11ed-aae0-8734ad4588ea}.TxR.blf
